# Start the testnet server with the command 'docker-compose up -d'

#ipfs:
#  image: ipfs/go-ipfs


koa:
  #build: ./production/
  image: christroutner/koa-ipfs-blog-rpi
  ports:
    - "3210:3210"  # <host port>:<container port>
    - "4001:4001" # IPFS
  volumes:
    - ./ipfs-data:/home/safeuser/koa-ipfs-blog/ipfs-data
  restart: always

tor:
  image: dedimax/docker-tor-armhf-hidden-service
  links:
    - koa
  environment:
      KOA_PORTS: 80:3210 # Map port to detected service
  volumes:
    - ./keys:/var/lib/tor/hidden_service/
